*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
/*HEADER*/
.main__header
{
    display: flex;
    margin: 2rem 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 8px 11px 10px -6px rgba(0,0,0,0.94);
    background-color: rgba(49, 49, 49, 0.15);
    justify-content: center;
    align-items: center;
}
.main__header img
{
    max-width: 90px;
    max-height: 90px;
}
.main__header_item
{
    color: #4A4A48;
    padding-left: 4%;
    font-size: 2.5rem;
    font-family:'Bebas Neue', cursive;
    line-height: 120%;
}
#header_title:hover, #header_subtitle:hover
{
    color: black;
    font-size: 3.5rem;
    transition: 3s;
}
/*CONTENT*/
.main__content
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 3%; 
    color: #4A4A48;
    font-family:'Bebas Neue', cursive;
}
.main__content_item
{
    display: grid;
    justify-content: center;
    font-size: medium;
    text-align: center;
    background-color: rgba(49, 49, 49, 0.15);
    box-shadow: 8px 11px 10px -6px rgba(0,0,0,0.94);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
}
.main__content aside
{
    margin-left: 0;
}
.main__content_item img
{
    padding: 1rem;
    max-width:350px;
    max-height: 425px;
}
#content_form
{
    border-radius: 1rem;
    margin: 1.5rem 0;
    padding: 0.8rem;
    background-color: rgba(15, 15, 14, 0.377);
    color: white;
    line-height: 170%;
}
#mainButton
{
    background-color: rgba(0, 0, 0, 0.685);
    color:aliceblue;
    font-family: 'Bebas Neue', cursive;
    padding: 0.8rem;
    margin-top:0.5rem;
}
.main__footer
{
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: rgb(63, 124, 14);
    height: 10vh;
}