*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
/*HEADER*/
.main__header
{
    display: flex;
    padding:2rem 2rem;
    margin: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 8px 11px 10px -6px rgba(0,0,0,0.94);
    background-color: rgba(49, 49, 49, 0.10);
    justify-content: center;
    align-items: center;
}
.main__header img
{
    max-width: 140px;
    max-height: 150px;
}
.main__header_item
{
    color: #4A4A48;
    padding-left: 4%;
    font-size: 2.5rem;
    font-family:'Bebas Neue', cursive;
    line-height: 120%;
}
#header_title:hover, #header_subtitle:hover
{
    color: black;
    font-size: 3.5rem;
    transition: 3s;
}
/*CONTENT*/
.main__content
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(250, 227, 199);
    padding-bottom: 3%; 
}
.main__content_item
{
    display: grid;
    justify-content: center;
    font-weight: bold; 
    font-size: medium;
    text-align: center;
    border: 1px solid black;
}
#content_image
{
    width:350px;
    height: 425px;
    border: 1px dotted rgb(2, 153, 70);
    background-color: azure;
}
#content_form
{
    margin: 1.5rem 0;
    padding: 0.8rem;
    background-color: rgb(129, 103, 70);
    border: 1px solid black;
}
.main__footer
{
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: rgb(63, 124, 14);
    height: 10vh;
}